# runner の登録トークン (有効期限 1 時間)。
#   https://github.com/organizations/ousiassllc/settings/actions/runners/new
# の ./config.sh --token ***** の値をコピーする。
#
# このファイルを .env.token にコピーして使う。.env.token は git 管理外。
#
# 注意: runner 自身が読む .env とは別ファイルにしてある。
#       .env は add-actions-runners.sh が各 runner ディレクトリにコピーするため、
#       そこにトークンを書くと CI ジョブから見える環境変数になってしまう。
TOKEN=
